## Transforming the Data Raw

In [2]:
import pandas as pd

In [3]:
dataRaw = pd.read_csv('../Data_Extract/Data_Raw/datahackers-survey-2019-anonymous-responses.csv')
display(dataRaw.head())

,"('P0', 'id')","('P1', 'age')","('P2', 'gender')","('P3', 'living_in_brasil')","('P5', 'living_state')","('P6', 'born_or_graduated')","('P8', 'degreee_level')","('P10', 'job_situation')","('P12', 'workers_number')","('P13', 'manager')",...,"('P34', 'other')","('P35', 'data_science_plataforms_preference')","('P35', 'other')","('P36', 'draw_participation')","('D1', 'living_macroregion')","('D2', 'origin_macroregion')","('D3', 'anonymized_degree_area')","('D4', 'anonymized_market_sector')","('D5', 'anonymized_manager_level')","('D6', 'anonymized_role')"
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),1.0,Estudante de Graduação,Empregado (CTL),de 1 a 5,0.0,...,0,Nunca fiz cursos online,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Outras,NaN,Outras
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),Acima de 3000,0.0,...,1,NaN,Data Science Academy,0.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Educação,NaN,Data Analyst/Analista de Dados
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),1.0,Graduação/Bacharelado,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Outras Engenharias,Indústria (Manufatura),NaN,Outras
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),0.0,Estudante de Graduação,Estagiário,de 11 a 50,0.0,...,0,Alura,NaN,1.0,Região Sudeste,Região Sudeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Intelligence/Analista de BI
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,1.0,Graduação/Bacharelado,Freelancer,de 6 a 10,1.0,...,0,Udemy,NaN,1.0,NaN,NaN,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,"C-level (CDO, CIO, CTO)",NaN

# To Do:

I won't drop the identifier 'P1' because it has many columns, and if I drop it, it will be hard to locate the columns later.

I need Clean and Transform

In [4]:
dataRaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1765 entries, 0 to 1764
Columns: 170 entries, ('P0', 'id') to ('D6', 'anonymized_role')
dtypes: float64(5), int64(146), object(19)
memory usage: 2.3+ MB

In [5]:
display(dataRaw.describe())

,"('P1', 'age')","('P3', 'living_in_brasil')","('P6', 'born_or_graduated')","('P13', 'manager')","('P19', 'is_data_science_professional')","('P20', 'linear_regression')","('P20', 'logistic_regression')","('P20', 'glms')","('P20', 'decision_tree')","('P20', 'random_forest')",...,"('P34', 'coursera')","('P34', 'udemy')","('P34', 'height')","('P34', 'edx')","('P34', 'data_camp')","('P34', 'data_quest')","('P34', 'kaggle_learn')","('P34', 'online_courses')","('P34', 'other')","('P36', 'draw_participation')"
count,1741.000000,1765.000000,1731.000000,1527.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,...,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1761.000000
mean,29.800689,0.980737,0.810514,0.199738,0.518414,0.296884,0.230028,0.075921,0.249858,0.203399,...,0.392635,0.637394,0.170538,0.166572,0.222096,0.036261,0.179037,0.095184,0.134844,0.813174
std,6.595795,0.137488,0.392007,0.399934,0.499802,0.457014,0.420970,0.264946,0.433054,0.402641,...,0.488475,0.480889,0.376212,0.372699,0.415773,0.186991,0.383492,0.293552,0.341654,0.389882
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,29.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,34.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,50.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
dataRaw.isnull().sum()

('P0', 'id')                             0
('P1', 'age')                           24
('P2', 'gender')                         3
('P3', 'living_in_brasil')               0
('P5', 'living_state')                 337
                                      ...
('D2', 'origin_macroregion')          1440
('D3', 'anonymized_degree_area')        35
('D4', 'anonymized_market_sector')     243
('D5', 'anonymized_manager_level')    1460
('D6', 'anonymized_role')              514
Length: 170, dtype: int64

In [7]:
dataRaw

,"('P0', 'id')","('P1', 'age')","('P2', 'gender')","('P3', 'living_in_brasil')","('P5', 'living_state')","('P6', 'born_or_graduated')","('P8', 'degreee_level')","('P10', 'job_situation')","('P12', 'workers_number')","('P13', 'manager')",...,"('P34', 'other')","('P35', 'data_science_plataforms_preference')","('P35', 'other')","('P36', 'draw_participation')","('D1', 'living_macroregion')","('D2', 'origin_macroregion')","('D3', 'anonymized_degree_area')","('D4', 'anonymized_market_sector')","('D5', 'anonymized_manager_level')","('D6', 'anonymized_role')"
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),1.0,Estudante de Graduação,Empregado (CTL),de 1 a 5,0.0,...,0,Nunca fiz cursos online,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Outras,NaN,Outras
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),Acima de 3000,0.0,...,1,NaN,Data Science Academy,0.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Educação,NaN,Data Analyst/Analista de Dados
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),1.0,Graduação/Bacharelado,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Outras Engenharias,Indústria (Manufatura),NaN,Outras
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),0.0,Estudante de Graduação,Estagiário,de 11 a 50,0.0,...,0,Alura,NaN,1.0,Região Sudeste,Região Sudeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Intelligence/Analista de BI
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,1.0,Graduação/Bacharelado,Freelancer,de 6 a 10,1.0,...,0,Udemy,NaN,1.0,NaN,NaN,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,"C-level (CDO, CIO, CTO)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760,qkjyuc8dayrrqahyjqkj841kpgymnpau,23.0,Feminino,1,Minas Gerais (MG),1.0,Graduação/Bacharelado,"Desempregado, buscando recolocação",NaN,NaN,...,0,Udemy,NaN,0.0,Região Sudeste,NaN,Outras,NaN,NaN,NaN
1761,7z5vvw7ycrxn4sujnv7z5vvw7r36gi5k,39.0,Masculino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),de 1001 a 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Analyst/Analista de Negócios
1762,0s2jaountv3tyrae0sir4jd8o5hz19ob,36.0,Masculino,1,Paraná (PR),0.0,Pós-graduação,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sul,Região Nordeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Data Engineer/Engenheiro de Dados
1763,r3kvh535z7xai2v8er3kv791tkmcysz8,29.0,Masculino,1,Minas Gerais (MG),1.0,Não tenho graduação formal,Empreendedor ou Empregado (CNPJ),de 11 a 50,1.0,...,0,Udacity,NaN,0.0,Região Sudeste,NaN,NaN,Tecnologia/Fábrica de Software,"C-level (CDO, CIO, CTO)",Data Engineer/Engenheiro de Dados
1764,1cz0hm5i92rw913f1cz0hmvferfavkkb,22.0,NaN,0,NaN,NaN,Não tenho graduação formal,Prefiro não dizer,Acima de 3000,0.0,...,0,Udemy,NaN,0.0,NaN,NaN,NaN,Setor Alimentício,NaN,Estatístico

In [8]:
# Dropando Col

dataRaw = dataRaw.drop(columns="('P6', 'born_or_graduated')")

## The Data is Transformed

In [9]:
dataRaw

,"('P0', 'id')","('P1', 'age')","('P2', 'gender')","('P3', 'living_in_brasil')","('P5', 'living_state')","('P8', 'degreee_level')","('P10', 'job_situation')","('P12', 'workers_number')","('P13', 'manager')","('P16', 'salary_range')",...,"('P34', 'other')","('P35', 'data_science_plataforms_preference')","('P35', 'other')","('P36', 'draw_participation')","('D1', 'living_macroregion')","('D2', 'origin_macroregion')","('D3', 'anonymized_degree_area')","('D4', 'anonymized_market_sector')","('D5', 'anonymized_manager_level')","('D6', 'anonymized_role')"
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),Estudante de Graduação,Empregado (CTL),de 1 a 5,0.0,de R$ 1.001/mês a R$ 2.000/mês,...,0,Nunca fiz cursos online,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Outras,NaN,Outras
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),Estudante de Graduação,Empregado (CTL),Acima de 3000,0.0,de R$ 2.001/mês a R$ 3000/mês,...,1,NaN,Data Science Academy,0.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Educação,NaN,Data Analyst/Analista de Dados
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),Graduação/Bacharelado,Empregado (CTL),Acima de 3000,0.0,de R$ 4.001/mês a R$ 6.000/mês,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Outras Engenharias,Indústria (Manufatura),NaN,Outras
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),Estudante de Graduação,Estagiário,de 11 a 50,0.0,de R$ 1.001/mês a R$ 2.000/mês,...,0,Alura,NaN,1.0,Região Sudeste,Região Sudeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Intelligence/Analista de BI
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,Graduação/Bacharelado,Freelancer,de 6 a 10,1.0,de R$ 6.001/mês a R$ 8.000/mês,...,0,Udemy,NaN,1.0,NaN,NaN,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,"C-level (CDO, CIO, CTO)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760,qkjyuc8dayrrqahyjqkj841kpgymnpau,23.0,Feminino,1,Minas Gerais (MG),Graduação/Bacharelado,"Desempregado, buscando recolocação",NaN,NaN,NaN,...,0,Udemy,NaN,0.0,Região Sudeste,NaN,Outras,NaN,NaN,NaN
1761,7z5vvw7ycrxn4sujnv7z5vvw7r36gi5k,39.0,Masculino,1,São Paulo (SP),Estudante de Graduação,Empregado (CTL),de 1001 a 3000,0.0,de R$ 4.001/mês a R$ 6.000/mês,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Analyst/Analista de Negócios
1762,0s2jaountv3tyrae0sir4jd8o5hz19ob,36.0,Masculino,1,Paraná (PR),Pós-graduação,Empregado (CTL),Acima de 3000,0.0,de R$ 6.001/mês a R$ 8.000/mês,...,0,Udemy,NaN,1.0,Região Sul,Região Nordeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Data Engineer/Engenheiro de Dados
1763,r3kvh535z7xai2v8er3kv791tkmcysz8,29.0,Masculino,1,Minas Gerais (MG),Não tenho graduação formal,Empreendedor ou Empregado (CNPJ),de 11 a 50,1.0,de R$ 8.001/mês a R$ 12.000/mês,...,0,Udacity,NaN,0.0,Região Sudeste,NaN,NaN,Tecnologia/Fábrica de Software,"C-level (CDO, CIO, CTO)",Data Engineer/Engenheiro de Dados
1764,1cz0hm5i92rw913f1cz0hmvferfavkkb,22.0,NaN,0,NaN,Não tenho graduação formal,Prefiro não dizer,Acima de 3000,0.0,Menos de R$ 1.000/mês,...,0,Udemy,NaN,0.0,NaN,NaN,NaN,Setor Alimentício,NaN,Estatístico

In [10]:
dataRaw.to_json(
    r'C:\Users\joaoh\Desktop\Ciencia_Dados\Projetos\Python--ETL--Start\Data_Transform\Data_Processed\dataHackers.json',
    orient='records',
    indent=4
)

In [11]:
dataRaw.to_csv(
    r'C:\Users\joaoh\Desktop\Ciencia_Dados\Projetos\Python--ETL--Start\Data_Transform\Data_Processed\dataHackers.csv',
    index=False
)